    body{
        background-color: lightblue;
    }
    h1{
        color:brown;
        font-size: medium;
       

    }
    h2{
        color:brown;
        font-size: medium;
        

    }
    h3{
        color:brown;
        font-size: medium;
      

    }
    h4{
        color:brown;
        font-size: medium;
        

    }
    h5{
        color:brown;
        font-size: medium;
      

    }
    h6{
        color:brown;
        font-size: medium;
       

    }
    p{
        font-size: large;
        color: aquamarine;
    }
